.container {
  box-sizing: border-box;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.bars {
  overflow-y: hidden;
  height: 100%;
}

.announcement {
  visibility: hidden;
  width: 100%;
  top: 85px;
  padding: 5px 0;
  font-size: 24px;
  position: absolute;
  background-color: #252422;
  text-align: center;
  color: #fffcf2;
  animation: fadein;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.car {
  position: absolute;
  bottom: 10px;
  width: 40%;
  left: 150px;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 600px) {
  .announcement {
    top: 55px;
    font-size: 14px;
  }
  .car {
    left: 70px;
  }
}
