.container {
  width: 100vw;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.children__wrapper {
  overflow-y: hidden;
  overflow-x: scroll;
  position: absolute;
  background-color: #84a59d;
  height: 300px;
  width: 400px;
  margin-top: 30px;
  margin-left: 40px;
  padding: 5px;
}

.frame {
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .children__wrapper{
    width: 230px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .container{
    width: 320px;
    margin: 0 auto;
  }
}
