.container {
  width: 100vw;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.children__wrapper {
  overflow-y: hidden;
  overflow-x: scroll;
  position: absolute;
  height: 300px;
  width: 400px;
  margin-top: 30px;
  margin-left: 40px;
  padding: 5px;
}

.morning {
  background-image: linear-gradient(120deg, #fbed96 0%, #abecd6 100%);
}

.night {
  background-image: linear-gradient(
    300deg,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}

.evening {
  background-image: linear-gradient(300deg, #fa709a 0%, #fee140 100%);
}

.frame {
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .children__wrapper {
    width: 230px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
